.navbar-container {
  display: flex;
  flex-direction: row;
}
.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 32px;
  margin-left: 300px;
}
.logo-image {
  width: 300px;
  margin: 30px;
}
